defaults
  mode tcp
  timeout connect 5s
  timeout client 300s
  timeout server 300s

frontend pg
  bind *:4003
  default_backend greptimedb_pg

backend greptimedb_pg
  balance roundrobin
  server frontend0 frontend0:4003
  server frontend1 frontend1:4003

frontend http
  bind *:4000
  default_backend greptimedb_http

backend greptimedb_http
  balance roundrobin
  server frontend0 frontend0:4000
  server frontend1 frontend1:4000
