defaults
  mode tcp
  timeout connect 5s
  timeout client 3600s
  timeout server 3600s

frontend pg
  bind *:4003
  default_backend greptimedb_pg

backend greptimedb_pg
  balance roundrobin
  server frontend0 repro-frontend0:4003
  server frontend1 repro-frontend1:4003
